.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  cursor: pointer;
  color: white;
  background-color: transparent;
  opacity: 0.1;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.6;
  }

  & svg {
    width: 100%;
    max-width: 60px;
    height: 100%;
  }
}

._left {
  & svg {
    transform: rotateY(180deg);
  }
}

._right {
}
