$width-arrow-desktop: 100px;
$width-arrow-mobile: 60px;

.slider {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: hidden;

  &:active {
    cursor: grab;
  }
}

.slideList {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  transform: translateX(calc($width-arrow-desktop * 5 - 200%));

  @media (max-width: 768px) {
    transform: translateX(calc($width-arrow-mobile * 5 - 200%));
  }

  &__goLeft {
    transition: transform 0.2s;
    transform: translateX(calc($width-arrow-desktop * 3 - 100%));

    @media (max-width: 768px) {
      transform: translateX(calc($width-arrow-mobile * 3 - 100%));
    }
  }

  &__goRight {
    transition: transform 0.2s;
    transform: translateX(calc($width-arrow-desktop * 7 - 300%));

    @media (max-width: 768px) {
      transform: translateX(calc($width-arrow-mobile * 7 - 300%));
    }
  }
}

.arrow {
  z-index: 100;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: $width-arrow-desktop;

  @media (max-width: 768px) {
    width: $width-arrow-mobile;
  }

  &_left {
    left: 0;
  }

  &_right {
    right: 0;
  }
}

.dots {
  position: absolute;
  bottom: 5%;
}

.slide {
  width: 100%;
  min-width: calc(100% - $width-arrow-desktop * 2);
  height: 100%;

  @media (max-width: 768px) {
    min-width: calc(100% - $width-arrow-mobile * 2);
  }
}
